/*CSS Reset*/
* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
/*18.To clear floats*/
/*.clear:after {
	content: "";
	display: block;
	clear: both;
}*/

h1 {
	font-family: 'Raleway', sans-serif;
	line-height: 35px;
	padding-top: 10px;
	font-weight: lighter;
	color: #517281;
}

h2 { 
	font-family: 'Open Sans', sans-serif; 
	font-weight: lighter;
	line-height: 24px;
	color:  #7895A2;

}
.sidebar {
	background-color: #AFC1CC;
	float: left;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 20%;	
	padding: 30px;
	text-align: center
	
}

img {
	background-color: grey;
	margin: 0 auto;
	
}

ul {
	list-style-type: none;
}

div.sidebar > ul > li {
	display: inline-block;
	text-align: center;
	font-size: 0.8em;
	line-height: 40px;
	background-color: #7895A2;
	width: 150px;
	margin: 10px;
}

div.sidebar > ul > li > a {
	text-decoration: none;
	padding: 10px 30px;/*7*/
	/*background-color: lightblue;
	width: 150px;
	margin-right: 20px;*/
	font-family: 'Open Sans', sans-serif;
	color:  #F68D5C;
}

.rightSide {
	background-color: grey;
	float: left;
	width: 80%;
	position: relative;
	top: 0;
	margin-left: 20%;
}

.home {
	background-color: #F4D27A;
	height: 300px;
}


.rectangle {
	background-color: #F68D5C;
	border: 5px solid #AFC1CC;
	width: 40%;
	height: 40%;
	margin: 0 auto;
	position: relative;
	top: 10%;
	text-align: center;
	line-height: 10px;
}

.about {
	height: 300px;
	background-color: #F68D5C;
}

.services {
	height: 300px;
	background-color: #F37257;
}

.projects {
	height: 300px;
	background-color: #F4D27A;
}

.gallery {
	height: 300px;
	background-color: #F68D5C;
}

h3 {
	padding: 20px;
	color:  #517281;
	font-family: 'Raleway', sans-serif;
}

footer >p {
	background-color: #517281;
	color: #AFC1CC;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	font-size: 0.8em;
	padding-left: 10px;
}